<footer class="sticky-footer">
    <div class="footer-content">
        <div class="logo">
            <img src="assets/favi/foot/icons8-short-film-gradient-96.png" alt="Logo" class="logo-img"
                onerror="this.onerror=null; this.src='data:image/gif;base64,yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'">

            <div class="attribution-bubble">
                <a target="_blank" href="https://icons8.com/icon/B2IOVIpQTs05/short-film">Short Film</a> icon by <a
                    target="_blank" href="https://icons8.com">Icons8</a>
            </div>
            <span>FILM</span>
        </div>


        <div class="tech-ticker">
            <span>
                <a href="https://www.youtube.com/shorts/dHEssuWNkZw" target="_blank">
                    <img src="assets/favi/foot/icons8-right-double-arrow-flat-glyph-96.png" alt="link">
                    Angular
                </a>
            </span>
            <!-- <span class="divider">•</span> -->
            <span>
                <a href="http://localhost:4200/#" target="_blank">
                    <img src="assets/favi/foot/icons8-right-double-arrow-flat-glyph-96.png" alt="link">
                    PostgreSQL
                </a>
            </span>
            <!-- <span class="divider">•</span> -->
            <span>
                <a href="http://localhost:4200/#" target="_blank">
                    <img src="assets/favi/foot/icons8-right-double-arrow-flat-glyph-96.png" alt="link">
                    Spring Boot
                </a>
            </span>
            <!-- <span class="divider">•</span> -->
            <span>
                <a href="http://localhost:4200/#" target="_blank">
                    <img src="assets/favi/foot/icons8-right-double-arrow-flat-glyph-96.png" alt="link">
                    DevOps
                </a>
            </span>
        </div>
        <div class="copyright">
            © AGNES VELEMI v 1.0.1 (15-FEB-2026)
        </div>
    </div>
</footer>