.hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
    //min-height: 75vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--pale-light-colored);

    /* Background decorative elements */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png'),
            url('/assets/favi/head/icons8-leaf-outline-gradient-96.png');
        background-position:
            5% 5%,
            85% 15%,
            10% 45%,
            60% 8%,
            30% 20%,
            10% 85%,
            90% 80%,
            50% 85%;
        background-repeat: no-repeat;

        background-size: 300px;
        opacity: 0.15;
        z-index: 0;
        pointer-events: none;
    }
}

.text-column {
    background-color: var(--light-colored-btn-bg);
    border-radius: 20px;
    z-index: 2;
    padding: 40px;
    // border: 1px solid var(--mid-colored-btn-bg);
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    //align-items: center;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.badge {
    display: inline-block;
    padding: 5px 15px;
    background-color: var(--mid-colored-btn-bg);
    color: var(--white-color);
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1 {
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--main-text-color);
}

h2.outlined-text {
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 2px var(--mid-colored-btn-bg);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.description {
    // color: #a0a0a0;
    color: var(--dark-normal-text-color);
    max-width: 650px;
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 1.4rem;
    white-space: pre-line;

    @media (max-width: 768px) {
        margin: 0 auto 40px;
    }
}

/* image png */
.image-column {
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //padding-top: 55px;

    .image-wrapper {

        box-sizing: border-box;
        position: relative;
        z-index: 2;
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        height: 460px; // Vertically shorter
        align-content: center;

        // margin-bottom: 30px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.05);

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 20px;
            transition: transform 0.3s;
        }

        &:hover img {
            transform: scale(1.02);
        }
    }

    .websocket-dashboard {
        box-sizing: border-box;
        //margin-top: auto;
        width: 100%;
        background-color: var(--darkest-bg-title-color);
        border: 3px solid rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 20px;
        height: 100%;
        max-height: 300px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        color: var(--white-color);
        backdrop-filter: blur(10px);

        .ws-header {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            h4 {
                color: var(--white-color);
                margin: 0;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 1rem;
                padding-bottom: 5px;
            }

            .pulse {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #60a5fa; // Soft blue for websocket live status
                box-shadow: 0 0 0 rgba(96, 165, 250, 0.4);
                animation: pulse 2s infinite;
            }
        }

        .ws-controls {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .ws-btn-row {
            display: flex;
            gap: 10px;

            .ws-btn {
                flex: 1;
                background-color: var(--darker-card-bg-color);
                border: 2px solid #000;
                color: var(--white-color);
                padding: 25px;
                border-radius: 8px;
                font-weight: 600;
                font-size: 1.05rem;
                transition: all 0.3s ease;
                box-shadow: 2px 2px 0px #000;

                &:hover,
                &.active {
                    box-shadow: 0px 0px 0px #000;
                    transform: translate(2px, 2px);
                    background-color: var(--mid-colored-btn-bg);
                }

                &.active {
                    pointer-events: none; // Opt-in: Disable clicking the already active state
                    cursor: default;
                }
            }
        }

        .ws-input-row {
            display: flex;
            gap: 10px;

            .ws-input {
                height: 45px;
                flex: 1;
                background-color: rgba(0, 0, 0, 0.3);
                border: 2px solid #000;
                border-radius: 8px;
                padding: 15px 15px;
                color: var(--white-color);
                font-family: inherit;
                font-size: 1.05rem;
                font-weight: 600;
                box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);

                &::placeholder {
                    color: var(--dark-normal-text-color);
                }

                &:focus {
                    outline: none;
                    border-color: var(--mid-colored-btn-bg);
                }
            }

            .ws-send-btn {
                background-color: var(--darker-card-bg-color);
                border: 2px solid #000;
                //color: var(--dark-normal-text-color);
                color: var(--mid-colored-btn-bg);
                padding: 8px 16px;
                border-radius: 8px;
                font-weight: 700;
                font-size: 1.05rem;
                transition: all 0.2s;
                box-shadow: 2px 2px 0px #000;

                &:hover {
                    background-color: var(--mid-colored-btn-bg);
                    color: var(--white-color);
                    box-shadow: 0px 0px 0px #000;
                    transform: translate(2px, 2px);
                }
            }

            .ws-received-message {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2px;
                font-size: 1.2rem;
                background-color: var(--pale-light-colored);
                color: var(--darkest-bg-title-color);
                font-weight: 500;
                animation: slideIn 0.3s ease-out;
                border: 2px solid var(--mid-colored-btn-bg);
                border-radius: 8px;
                padding: 4px 12px;
                width: calc(25% - 5px);
                flex-shrink: 0;

                .payload {
                    font-weight: 700;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .timestamp {
                    opacity: 0.7;
                    font-size: 1.0rem;
                    text-transform: uppercase;
                }
            }
        }
    }

}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Google Analytics Dashboard Styles */
.stats-dashboard {
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    max-width: 545px;
    background: var(--light-colored-btn-bg);

    .dashboard-header {
        background: var(--mid-colored-btn-bg);
        color: var(--white-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);


        h4 {
            margin: 0;
            font-size: 1rem;
            // color: #fff;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-top: 10px;
        }

        .pulse {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--white-color);
            box-shadow: 0 0 0 rgba(34, 197, 94, 0.4);
            animation: pulse 2s infinite;
            margin-left: 10px;
            margin-top: 10px;
        }
    }

    .dashboard-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        background: var(--light-colored-btn-bg);

        .dash-item {
            //background: rgba(0, 0, 0, 0.2);
            background: var(--white-color);
            padding: 15px;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.03);

            &.full-width {
                grid-column: 1 / -1;
            }

            .label {
                display: block;
                font-size: 0.9rem;
                font-weight: 600;
                color: var(--dark-normal-text-color);
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            .value {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--darker-card-bg-color);

            }
        }
    }

    /* Progress Bar */
    .progress-bar {
        height: 20px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        margin-top: 5px;
        position: relative;

        .progress-segment {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            font-weight: bold;
            color: #fff;
            transition: width 1s ease-out;

            &.en {
                background: linear-gradient(90deg, var(--darkest-bg-title-color), #60a5fa);
            }

            &.de {
                background: linear-gradient(90deg, var(--darkest-bg-title-color), #f87171);
            }
        }
    }
}